<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.serviceModel>

		<client>

			<endpoint
			  address="http://localhost:8000/ChatService"
			  binding="basicHttpBinding"
			  contract="ChatContracts.IChatService"
			  name="ChatServiceEndpoint" />

		</client>

	</system.serviceModel>

</configuration>