<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.serviceModel>

		<bindings>
			<basicHttpBinding>
				<binding name="LargeFilesBindings"
						 maxReceivedMessageSize="4194304"
						 maxBufferSize="4194304">
					<readerQuotas maxArrayLength="4194304"/>
				</binding>
			</basicHttpBinding>
		</bindings>

		<client>

			<endpoint
			  address="http://localhost:8000/ChatService"
			  binding="basicHttpBinding"
			  bindingConfiguration="LargeFilesBindings"
			  contract="ChatContracts.IChatService"
			  name="ChatServiceEndpoint" />

		</client>

	</system.serviceModel>

</configuration>