<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.serviceModel>
		
		<bindings>
			<basicHttpBinding>
				<binding name="LargeFilesBindings"
						 maxReceivedMessageSize="4194304"
						 maxBufferSize="4194304">
					<readerQuotas maxArrayLength="4194304"/>
				</binding>
			</basicHttpBinding>
		</bindings>

		<services>

			<service name="ChatServer.ChatService">

				<endpoint
				  address=""
				  binding="basicHttpBinding"
				  bindingConfiguration="LargeFilesBindings"
				  contract="ChatContracts.IChatService" />

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/ChatService" />
					</baseAddresses>
				</host>

			</service>

		</services>

	</system.serviceModel>

</configuration>