<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.serviceModel>

		<services>

			<service name="ChatServer.ChatService">

				<endpoint
				  address=""
				  binding="basicHttpBinding"
				  contract="ChatContracts.IChatService" />

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/ChatService" />
					</baseAddresses>
				</host>

			</service>

		</services>

	</system.serviceModel>

</configuration>